html, body {
  scroll-behavior: smooth;
}

body {
  background-color: #191824;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.background img{
  filter: blur(2px) brightness(0.4);
  width: 100%;
position: absolute;
top: 10em;
}

.siteLinks {
  position: relative;
  top: 200px;
  max-width: 1210px;
  margin: 30px auto;
  padding: 30px;
  background: #13121a7d;
    filter: drop-shadow(2px 4px 6px black);
}
.siteLinks .heading {
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
  padding: 10px 0;
border-bottom: 1px solid rgb(255 255 255);
}
.siteLinks .heading span {
  color: #ffeb3b;
}
.siteLinks .buttons {
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.siteLinks .buttons a {
  text-decoration: none;
  margin: 20px auto;
}
.siteLinks .buttons .button {
  min-height: 100%;
  text-align: center;
  color: white;
  background-color: #302f3e;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}
.siteLinks .buttons .button .title, .siteLinks .buttons .button .code {
  font-size: 17px;
  font-weight: lighter;
}
.siteLinks .buttons .button .code {
  font-size: 15px;
  color: rgba(253, 250, 255, 0.26);
}
.siteLinks .buttons .button .bonus {
  /* display: flex; */
  position: relative;
  top: 20px !important;
  left: -5px;
  min-width: 230px;
  flex-direction: row;
  padding: 5px 30px;
  border: 0;
  background-color: #e4c55e;
  color: #1f1a25;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.siteLinks .buttons .button .img {
  max-width: 100px;
  margin: 20px auto;
}
.siteLinks .buttons .button .img img {
  max-height: 60px;
}
.siteLinks .buttons .button:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 10px rgba(17, 17, 17, 0.349);
}
.move{
  margin-left: -38;
}
.center{
  margin-left: -50;
}
.button-move{
  margin-top: 29px;
}

.nav-links li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #b9b9b9;
  transition: width .3s;
}

.nav-links li:hover::after  {
  width: 100%;
}
.logo span{
  color: #4e82ff;
}

/* Advertisements */

.ad-idle-empire{
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 200px 0px 40px 0px;
}
.ad-idle-empire img{
  min-width: 400px;
}


/* Footer */
.footer{
  display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #1f1e32;
}
.inner_footer{
  margin: 0 auto;
    max-width: 1200px;
}
.inner_footer .logo_container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}
.inner_footer .logo_container img{
  width: 235px;
  height: auto;
}
.inner_footer .footer_third{
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}
.inner_footer .footer_third:last-child{
  margin-right: 0;
}
.inner_footer .footer_third h1{
  font-family: 'Poppins';
  font-size: 18px;
  color: #f3f3f3;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.inner_footer .footer_third a{
  font-family: 'Poppins';
  font-size: 18px;
  color: #f3f3f3;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
  text-decoration: none!important;
}
.inner_footer .footer_third li{
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}
.inner_footer .footer_third span{
  color: #f3f3f3;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;
  padding-top: 20px;
}


@media (max-width: 768px){
  .Footer .inner_footer{
    width: 90%
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer{
    align-content: center
  }
  html{
    overflow-x: hidden;
  }
}

/* CARDS */

.sites {
  margin: 0 auto;
  max-width: 1200px;
}
.card {
      z-index: 10;
  filter: drop-shadow(2px 4px 6px black);
  height: 240px;
  width: 260px;
  border-radius: 6px;
  background-color: #302f3e;
  cursor: pointer;
  transition: all 0.2s;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 13px;
}

.large-card{
  filter: drop-shadow(2px 4px 6px black);
    height: 240px;
    width: 550px;
    border-radius: 6px;
    background-size: cover;
    background-image: url(https://www.skindollar.me/assets/Images/freeskins.jpg);
    cursor: pointer;
    transition: all 0.2s;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 13px;
    z-index: 4;
}
.large-card:hover{
  filter: blur(3);
  filter: opacity(0.5);
}
.large-card img{
  position: relative;
    filter: opacity(0.5);
    z-index: 11;
}
.card-content{
  background: #454456;
    padding: 6px;
    border-radius: 42px;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
}
.card h2{
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}
.card h3{
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
}
.image{
  height: auto;
max-height: 70px;
width: auto;
max-width: 150px;
margin: 15px auto;
}
.bonus {
  min-width: 230px;
    flex-direction: row;
    padding: 5px 30px;
    border: 0;
    background-color: #e4c55e;
    color: #1f1a25;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.group-cards {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*# Card Animation */

.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 20px 10px rgba(17, 17, 17, 0.349);
}

/*# Read More */

.post{
  padding: 20px;
  background: linear-gradient(to top, #1f1e30, rgba(15, 15, 15, 0));
    filter: drop-shadow(2px 4px 6px black);
    font-size: 18px;
    color: #a1a1a1;
    line-height: 2;
}
.post h1{
  color: #f2f2f2;
  font-size: 22px;
}
#more{
  display: none;
}
.read-more{
  width: 128px;
height: 32px;
color: black;
background: #e4c55e;
border: 2px solid #e4c55e;
border-radius: 4px;
}

/*# Cards Test */



/*# sourceMappingURL=main.css.map */
